
{% extends 'main/base.html' %}

<style type="text/css">
    .main{
        margin-left:10px; margin-right:10px; padding: 0px 10px;}
</style>
<title>
    {% block title %} Home {% endblock %}

</title>
{% block content %}
<body>
<h1 style="font-size: 64px; text-align: left;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;">Drone Commander</h1>

<!--{% if user.is_authenticated %}-->
<!--  Hi {{ user.username }}!-->
<!--{% else %}-->
<!--  <p>You are not logged in</p>-->
<!--  <a href="{% url 'login' %}">Log In</a>-->
<!--{% endif %}-->

<h1>Drone List</h1>

    <table  style="width:60%; border: 1px solid; border-collapse: collapse">
        <thead>
            <tr style="border: 1px solid; text-align: center;">
                <th>ID</th>
                <th style="width:40%; border: 1px solid; ">Name</th>
                <th style="width:40%; border: 1px solid;">IP Address</th>
            </tr>
        </thead>
        <tbody>
    {% for drone in drones %}
            <tr style="border: 1px solid; text-align: center;">
                <td style="width:20%; border: 1px solid; text-align: center; padding-left: 5%; padding-right: 5%;">{{ drone.id }}</td>
                <td style="width:40%; border: 1px solid; text-align: left; padding-left: 5%; padding-right: 5%;">{{ drone.droneName }}</td>
                <td style="width:40%; border: 1px solid; text-align: left; padding-left: 5%; padding-right: 5%;">{{ drone.IPAddress }}</td>
                <td> {{ drone }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h1>Swarm List</h1>

    <table  style="width:60%; border: 1px solid; border-collapse: collapse">
        <thead>
            <tr style="border: 1px solid; text-align: center;">
                <th>ID</th>
                <th style="width:40%; border: 1px solid; ">Name</th>
                <th style="width:20%; border: 1px solid;">Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for swarm in swarm %}
            <tr style="border: 1px solid; text-align: center;">
                <td style="width:20%; border: 1px solid; text-align: center; padding-left: 5%; padding-right: 5%;">{{ swarm.id }}</td>
                <td style="width:40%; border: 1px solid; text-align: left; padding-left: 5%; padding-right: 5%;">{{ swarm.swarmName }}</td>
                <td>
                    {{ swarm }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
