{% extends 'main/base.html' %}

{% block title %}
List
{% endblock %}

{% block content %}
<h1>User List1</h1>
<ul>
  {% for user in all_users %}
     <li>
                <p><strong>ID:</strong> <span>{ user.id }</span>,
                <strong>Name:</strong> <span>{{ user.userName }}</span></p>
            </li>
  {% endfor %}
</ul>
<h1>Drone List</h1>
<h1>Swarm List</h1>

<form method="POST">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form.as_p }}
    {{ userName.name }}

    <input type="submit" value="Submit">
</form>

{% endblock %}