{% extends 'main/base.html' %}

{% block title %}
Drone List
{% endblock %}

{% block content %}
<h1>AP List</h1>

<body>

    <table  style="width:80%; border: 1px solid; border-collapse: collapse">
        <thead>
            <tr style="border: 1px solid; text-align: center;">
                <th>ID</th>
                <th style="width:5%; border: 1px solid; ">SSID</th>
                <th style="width:20%; border: 1px solid;">Password</th>
                <th style="width:25%; border: 1px solid;">Auth Method</th>
                <th style="width:10%; border: 1px solid;">Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for ap in ap %}
            <tr style="border: 1px solid; text-align: center;">
                <td style="width:5%; border: 1px solid; text-align: center; ">{{ ap.id }}</td>
                <td style="width:20%; border: 1px solid; text-align: center; ">{{ ap.SSID }}</td>
                <td style="width:25%; border: 1px solid; text-align: center; ">{{ ap.password }}</td>
                <td style="width:20%; border: 1px solid; text-align: center; ">{{ ap.AuthMethod }}</td>
                <td>
                    <a style="width:10%" href="/ap_edit/{{ ap.id }}"><span>Edit</span></a>
                    <a style="width:10%" href="/ap_delete/{{ ap.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <a href="{%url 'ap_add' %}" class="btn btn-outline-secondary btn-sm"><span>Add New AP</span></a>
</body>
{% endblock %}