{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
List
{% endblock %}

{% block content %}
<h1>Add Drone</h1>

<form method="POST">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form.as_p }}
    <!-- Display form errors -->
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error!</strong> Please correct the following errors:
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <br>

    <input type="submit" value="Submit"
        class="btn btn-secondary">
</form>
{% endblock %}